BasedOnStyle: LLVM
AlignArrayOfStructures: Left
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: AllDefinitions
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: After
BreakBeforeBinaryOperators: All
ColumnLimit: 100
QualifierAlignment: Left
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
IndentWidth: 8
InsertTrailingCommas: Wrapped
KeepEmptyLinesAtTheStartOfBlocks: false
RemoveBracesLLVM: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
UseTab: AlignWithSpaces
